.rota-table thead td {
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}
.rota-table tbody tr td:first-child {
    font-weight: bold;
}
.rota-table tbody tr:hover {
    background: #99FF66;
    cursor: pointer;
    color: #000000;
}
.current-day {
    position: relative;
}
.current-day:hover .hover-info {
    display: block;
}
.hover-info {
    padding: 20px;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    position: absolute;
    left: 0px;
    width: 150%;
    top: calc(100% + 10px);
    display: none;
    z-index: 1001;
}
.staff-title {
     font-size: 16px;
     text-decoration: underline;
 }
/** Arrow point based on mouse pos. Class added or removed **/
.up-arrow:after,
.up-arrow:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.up-arrow:after {
    border-bottom-color: #EEEEEE;
    border-width: 10px;
    margin-left: -10px;
}
.up-arrow:before {
    border-bottom-color: #EEEEEE;
}

.down-arrow:after,
.down-arrow:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.down-arrow:after {
    border-top-color: #EEEEEE;
    border-width: 10px;
    margin-left: -10px;
}
.down-arrow:before {
    border-width: 10px;
    margin-left: -10px;
}